In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error,accuracy_score

In [2]:
df=df=pd.read_csv(r"D:\Projects_Internship\Car Evaluation\car_evaluation.csv")

In [3]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']


df.columns = col_names

col_names

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [4]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [5]:
df = pd.get_dummies(df,columns=["buying",
"maint","doors","persons","lug_boot","safety"])

In [6]:
df=df.rename(columns={"class":"target"})

In [8]:
le=LabelEncoder()

y=le.fit_transform(df["target"])
X = df.drop(['target'], axis=1)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [11]:
X_train.shape, X_test.shape

((1157, 21), (570, 21))

In [33]:
rf=RandomForestClassifier(n_estimators=1000, random_state=0)
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)

In [34]:
mean_squared_error(y_test, y_pred)

0.14210526315789473

In [35]:
accuracy_score(y_test, y_pred)

0.9631578947368421